<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dwai.cosmosbrowser" >

    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InstructionsActivity"
            android:label="@string/title_activity_instructions" >
        </activity>
        <activity
            android:name=".MainBrowserScreen"
            android:label="@string/title_activity_main_browser_screen"
            android:windowSoftInputMode="stateHidden" >
        </activity>

        <receiver android:name=".messaging.TextMessageHandler$SMSReceiver" >
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".TabsView"
            android:label="@string/title_activity_tabs_view" >
        </activity>
    </application>

</manifest>
